<h1>Reset Password</h1>

{{#if message}}
    <div class="alert alert-danger">{{message}}</div>
{{/if}}

<div class="card">
    <div class="card-header">Set New Password</div>
    <div class="card-body">
        <form id="resetPasswordForm" action="/reset-password/{{token}}" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div>
                <label for="password" class="form-label">New Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
        <div class="toggle-form">
            <p>Return to <a href="/">Login</a></p>
        </div>
    </div>
</div>